<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.display.displayiosampleapp">

    <!-- display.io SDK required permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- display.io SDK optional permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <!-- Base activities -->
        <activity
            android:name=".base.activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".base.activities.AddPlacementActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".base.activities.ShowPlacementActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- display.io SDK required activities -->
        <activity
            android:name="io.display.sdk.DioActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name="io.display.sdk.DioTranslucentActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="io.display.sdk.device.PermissionsHandler" />

        <!-- Integration activities -->
        <activity
            android:name=".ListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
    </application>

</manifest>